CITY=Cairo
COUNTRY=Egypt
METHOD=5
TIMEZONE=Africa/Cairo
ADHAN_16_PATH=./assets/adhan16.mp3
ADHAN_52_PATH=./assets/adhan52.mp3
ADHAN_16_URL=
ADHAN_52_URL=
MORNING_ATHKAR_TIME=07:00
EVENING_ATHKAR_TIME=17:00
NIGHTLY_AZKAR_TIME=21:30
QURAN_PDF_TIME=10:00
DAILY_JUZ_TIME=08:00
QURAN_PDF_URL=https://www.searchtruth.com/pdf/Holy-Quran-Arabic-Writing-1.pdf
